<h1>Author Details</h1>
<p><strong>Name:</strong> <%= current_author.name %></p>
<p><strong>Email:</strong> <%= current_author.email %></p>
<%= link_to 'Edit My Profile', edit_author_registration_path(current_author), class: 'button' %>
<%= link_to 'Home', root_path, class: 'button' %>